In [1]:
# The following program consists of two lines of code:
x = 5+3
print(x)

8

In [2]:
print(x-1)

7

In [3]:
print(x+1)

9

# Variables

In [4]:
# this is a command that assins 5 to the variable x
x = 5

In [5]:
x

5

In [6]:
y=8

In [7]:
y

8

In [8]:
print y

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(y)? (<ipython-input-8-3bd31d684b1f>, line 1)

In [ ]:
# print y is a command vs print (y) is a function
print (y)

In [ ]:
x,y = (1,2)

In [ ]:
x

In [ ]:
y

In [ ]:
x1 = 5

In [ ]:
type(x1)

In [ ]:
type(-6)

In [ ]:
x2 = 4.75
# floating points (floats): are real numbers; with a decimal point

In [ ]:
type(x2)

In [ ]:
int(x2)
# int() is a built in function that transforms floats into intergers

In [ ]:
float(5)
#float() transforms the variable into a float

In [ ]:
# Boolean Values: a "true" or "false" value ; 1 or 0 ; on or off
x3 = True

In [ ]:
type (x3)

In [ ]:
# Strings: Text values composed of a sequence of characters
# Strings: The quotes can come into play

In [ ]:
'George'

In [ ]:
"George"

In [ ]:
print("George")

In [ ]:
print('George')

In [ ]:
x4 = 'George'

In [ ]:
x4

In [ ]:
print(x4)

# # Example

In [ ]:
# y - the number of dollars you have in your pocket
# Computer: y dollars

In [9]:
y = 10
print ("$"+str(y) + " the number of dollars you have in your pocket")

$10 the number of dollars you have in your pocket

In [10]:
'I'm fine'

SyntaxError: invalid syntax (<ipython-input-10-4b03f9290adb>, line 1)

In [ ]:
"I'm fine"

In [ ]:
'I\'m fine'
#The \ is an escape character

In [ ]:
'Press "Enter"'

In [ ]:
'Red' 'car'

In [ ]:
'Red ''car'

In [ ]:
'Red ' + 'car'

In [96]:
print('Red '+'car')

Red car

In [97]:
print('Red','car')
# when you put the , "trailing comma" python prints the first string a space followed by the second word

Red car

In [ ]:
print(3,5)

In [ ]:
3,5,6.9,7.0,'car'

# Arithmetic Operators of Python

In [ ]:
1+2
# the 1 & 2 are operands

In [ ]:
3-5
# the +,-, /, *, ** are Arithmetic Operators

In [ ]:
int(15/3)

In [ ]:
16/3

# the / is used for division

In [ ]:
16 % 3
# the % sign used for division will return the reminder of the division

In [ ]:
16 % 4

In [ ]:
5 * 3

# the * is used as an operator for multiplication

In [ ]:
x = 5 * 3

In [ ]:
x

In [ ]:
5 ** 3

# the "**" is used as an exponent sign ex: 5**3 is 5^3
# in the example 5 ** 3 the ** Raises the left operand by the power of the right operand

# The equality and double equality sign

In [ ]:
y = 5 ** 3
# the equality sign binds y to the 5 ** 3

In [ ]:
y

In [ ]:
y == 125
# == means "equals"
# So, the way to read the code "is y equal to 125?"
# the double equality sign question equality between two values
# converseley, the equal signs values to variables

In [ ]:
y == 126

# Reassing values

In [ ]:
z = 1
z

In [ ]:
z = 3
z

In [ ]:
z + 5

In [ ]:
z = 7
z
# in these examples I learned how to reasign values to variables and
# demonstrated how the variables have been overwritten

# Line continuation

In [ ]:
2 *\
1.5 +5
# the \ "Back lash" is used as an indicator of line continuation

# Indexing Elements

In [ ]:
"Friday"[3]
# indexing format "Name_of_variable"[index_of_element]
# Recall that in Python we count from 0 not from 1
# F R I D A Y
# 0 1 2 3 4 5
# So the square brackets are used for indexing

# Structure your code with Indentation

In [ ]:
def five(x):
    x = 5
    return x
print (five(3))

# indentation and blank rows creates blocks of code and commands


# Ch 5

# Comparison Operators

In [ ]:
10 == 20 / 2

In [ ]:
10 != 10
# ! and = translates to "not equal to"

In [ ]:
10 != 15

In [ ]:
# > "Greater than"
# < "Less than"
100 > 50

In [ ]:
100 < 50

In [ ]:
# >= "Greater than or equal to"
# <= "Less than or equal to"
15 >= 10 + 10

In [ ]:
15 <= 10 + 5

#Logical Operators = Boolean Operators

In [ ]:
# NOT - AND - OR

In [ ]:
# AND : Checks whether the two statements around it are True
True and True

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
# OR : Checks whether at least one of the two statements are True
False or False

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
# NOT : not leads to the opposite of the statement
not True

In [11]:
not False

True

In [12]:
not not False

False

In [13]:
# False and True
3 > 5 and 10 <= 20

False

In [14]:
True and not True
# T and F => F

False

In [15]:
False or not True and True
# And has an advantage over or
# False or False

False

In [16]:
True and not True or True
# False or True

True

In [17]:
# T and T - T
# F and T - F
# T and F - F
# F and F - F
#
# T or T - T
# F or T - T
# T or F - T
# F or F - F

# Identity Operators:

In [18]:
## is and is not
## similar to == and !=

In [19]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-635fcd361971>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [20]:
5 == 6

False

In [21]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-21-d7a89cdfaf51>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [22]:
5!= 6

True

# Conditional Statements

### IF Statements

In [23]:
# if 5 = 15/3 then print Hooray!
# Format
# if contiong:
#      conditional code

In [24]:
if 5 == 15/3:
    print("Hooray!")

Hooray!

In [25]:
if 5 != 18/3:
    print("Hooray!")

Hooray!

In [26]:
if 5 != 3 * 6:
    print("Hooray!")

Hooray!

## Else If

In [27]:
x = 1

#block of code 1
#   Command code 1

#block of code 2
#   Command code 2


if x > 3:
    print("Case 1")
else:
    print("Case 2")

Case 2

## Elif

In [28]:
# Elif statements is an elegent way to
# add a second if statement

In [29]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [30]:
print (compare_to_five(10))

Greater

In [31]:
print (compare_to_five(2))

Less

In [32]:
print (compare_to_five(5))

Equal

In [33]:
print (compare_to_five(-1))

Negative

In [34]:
# Make sure to arrange the conditional statements
# in the proper flow

def compare_2_five(z):
    if z > 5:
        return "Greater"
    elif z < 5:
        return "Less"
    elif z < 0:
        return "Negative"
    else:
        return "Equal"

In [35]:
print (compare_2_five(-3))

Less

## A note on Boolean Values

In [36]:
x = 2

if x > 4:
    print ("correct")
else:
    print ("Incorrect")

Incorrect

# How to define a Function

In [37]:
# def is a keyword
# function synthax is def function_name(parameters):
# <--------------------> fuction body

In [38]:
def simple():
    print("My first function")

In [39]:
# Now we must call the function
# so function_name(arguments)

In [40]:
simple()

My first function

In [41]:
# plus_ten(a) is a function a+10
def plus_ten(a):
    return a + 10

In [42]:
plus_ten(2)

12

In [43]:
plus_ten(5)

15

In [44]:
# input:     f(x)     output:
#   x  ---->  x+10 ---> y

# input (x) -----> function (return) ----> output y

# return can be used only once in a function

# You can also assign a more intuitive name to a function:
# plus_ten
# addition_of_ten

# Another way to define a function

In [45]:
def plus_ten(a):
    result = a + 10
    print ("Outcome")
    return result

In [46]:
plus_ten(2)

Outcome

12

In [47]:
#In this lesson we learned that we can
# return only a single result out of a function

In [48]:
# print takes an object and provides it printed
# representation in the output cell
# it makes a certain statement visibel to the programer
# a good reason to do that is when you have a huge amount of
# code and you want to see the intermediary
# steps of your program printed out
# so you can follow the control flow
# print does not affect the calculation of the output 

#          print          vs       return
#   does not affect            does not visualize
#   the calculation                 the output
#   of the output
#                                it specifies what a
#                               certain function is supposed
#                                to give back
#

# Using a function in another function
# f(g(x))

In [49]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [50]:
wage(8), with_bonus(8)

(200, 250)

In [51]:
with_bonus(7)

225

# Use conditional statements and functions together

In [52]:
# Scenario: If Johnny has saved at least 
#           $100 by the end of the week
#           Then, Johnny gets an extra $10
#           If not, Johnny gets $0
#Let m - the money Johnny saved by the end of the week
# if m >= 100 then m + 10
# if m < 100 then print "Save more!"
# recall that the "=" means "assign" or "bind to"

def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [53]:
add_10(99)

'Save more!'

In [54]:
add_10(120)

130

# How to create functions that contain a few arguments

In [55]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [56]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [57]:
subtract_bc(c=2,b=3,a=10)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

# Notable Built-In Fuctions in Python

In [58]:
# Type () obtains the type of variable you use as an argument

type(10)

int

In [59]:
# int(), float(), str() 
# all transform their arguments in an 
# interger, float, and string data type, respectively

In [60]:
int(5.0)

5

In [61]:
float(3)

3.0

In [62]:
str(500)

'500'

In [63]:
# max() returns the highest value from a 
# sequence of numbers

In [64]:
# min() returns the lowest value from a 
# sequence of numbers

In [65]:
max(50,66,44)

66

In [66]:
min(66,50,56,33)

33

In [67]:
# abs() allows you to obtain the absolute
#       value of its argument
z = -20
abs(z)

20

In [68]:
# sum() calculates the sum of all the elements in a list
# designated as an argument

list_1 = [1,2,3,4]
sum(list_1)

10

In [69]:
# round(x,y) returns the float of its argument (x), rounded
# to a sprcified number of digits (y) after the decimal point

round(3.555,2)

3.56

In [70]:
round(3.2)

3

In [71]:
2 ** 10

1024

In [72]:
# pow (x,Y) returns x to the power y
pow (2,10)

1024

In [73]:
# len() returns the number of elements in an object
len('Mathematics')

11

# Intoduction to lists

In [75]:
# a list is a type of sequence of data points
participants = ['John', 'Leila', 'Gregory', 'Cate']
participants

['John', 'Leila', 'Gregory', 'Cate']

In [77]:
#Access the list by indexing the value 0 = extra the
#first of the elements in this list varible
print (participants[0])

John

In [78]:
participants[0]

'John'

In [80]:
participants[-2]

'Gregory'

In [81]:
participants[3] = 'Maria'
participants

['John', 'Leila', 'Gregory', 'Maria']

In [82]:
# del removes an item from a list
del participants[2]

In [84]:
participants

['John', 'Leila', 'Maria']

# Using Methods in Python

In [85]:
# the .append() method is used to add to a list
# methods are ready made
#object.method()
#the dot operator calls on or incokes a certain method
participants.append("Dwayne")
#the method .extend() also works
#object.extend()

In [88]:
participants

['John', 'Leila', 'Maria', 'Dwayne']

In [89]:
participants.append('dwayne')
participants

['John', 'Leila', 'Maria', 'Dwayne', 'dwayne']

In [90]:
participants.extend(['George','Catherine'])
participants

['John', 'Leila', 'Maria', 'Dwayne', 'dwayne', 'George', 'Catherine']

In [91]:
del participants[4]
participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [93]:
print('The last participant is ' + participants[-1] + '.')

The last participant is Catherine.

In [94]:
# len() returns the number of elements in an onject
len('dolphin')

7

In [95]:
len(participants)

6

In [ ]:
# note that we have used participants as an
# object and argument
# object - participant.append()
# argument - len(participate)

# What is List Slicing

In [98]:
participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [99]:

participants[1:3]

['Leila', 'Maria']

In [101]:
participants[:2]

['John', 'Leila']

In [103]:
participants[4:]

['George', 'Catherine']

In [104]:
participants[-2:]

['George', 'Catherine']

In [105]:
# object.index(argument) tells you the position of the element argument
#.index is a method
participants.index('Maria')

2

In [106]:
Newcomers = ['Joshua','Brittany']
Newcomers

['Joshua', 'Brittany']

In [108]:
Bigger_List = [participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [109]:
len(Bigger_List)

2

In [112]:
Bigger_List[1]

['Joshua', 'Brittany']

In [113]:
participants.append(Newcomers)
participants

['John',
 'Leila',
 'Maria',
 'Dwayne',
 'George',
 'Catherine',
 ['Joshua', 'Brittany']]

In [114]:
len(participants)

7

In [117]:
del participants[-1]
participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [118]:
participants.sort()
participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [123]:
participants.sort(reverse=True)
participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [120]:
#object.sorts() sorts objects of list
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [121]:
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

# Tuples

In [124]:
#Tuples are a type of data sequences
#Tuples are immutable; they can't be changed or modified
#The Tuples syntax: Tuple's elements are placed
#within parentheses
x = (40, 41, 42)
x

(40, 41, 42)

In [125]:
#the tuple is the default sequence in Python
y = 50,51,52
y

#So, the three values were packed into a tupel

(50, 51, 52)

In [126]:
a, b, c = 1, 4, 6
#Tuple assingment

In [127]:
c

6

In [128]:
x[0]

40

In [130]:
list_1 = [x,y]
list_1

[(40, 41, 42), (50, 51, 52)]

In [132]:
#Differences between tuples and lists
(age, years_of_school) = "30,17".split(',')
print(age)

30

In [133]:
print(years_of_school)

17

In [134]:
#Functions can provide tuples as return values

def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:")
    return A,P
square_info(3)

Area and Perimeter:

(9, 12)

# Dictionaries

In [1]:
#Dictionaries represent another way of storing data
#Dictionaries establish a key-value pair
#Dictionaries use curly braces
dict = {'k1' : "cat", 'k2':"dog", 'k3':"mouse", 'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [2]:
dict['k1']

'cat'

In [3]:
dict['k3']

'mouse'

In [7]:
#I can add a new entry to the dictionary using
#dictionary_name[new_key_name] = new_value_name

dict['k5'] = 'parrot'
dict

{'k1': 'cat',
 'k2': 'dog',
 'k3': 'mouse',
 'k4': 'fish',
 'ke': 'parrot',
 'k5': 'parrot'}

In [8]:
#replacing a value uses the same 
dict['k2'] = 'Jordi'
dict

{'k1': 'cat',
 'k2': 'Jordi',
 'k3': 'mouse',
 'k4': 'fish',
 'ke': 'parrot',
 'k5': 'parrot'}

In [10]:
dep_workers = {'dep_1':'Peter','dep_2':['Jennifer','Michael','Tommy']}
dep_workers

{'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [12]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [13]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [14]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [16]:
print (Team['Center'])

Hector

In [17]:
print (Team.get('Small Forward'))

Sean

In [18]:
print (Team.get('Coach'))

None

In [ ]:
# Instances when to uses dictionaries?
# when calling for a companies stck value
# {"Morgan Stanley":45.56,"Goldman Sachs":247.65,"HSBC":646.35}

# For loops

In [19]:
#Iteration is the ability to execute a certain code repeatedly

even = [0,2,4,6,8,10,12,14,16,18,20]

In [22]:
#for every element n in the list even:
#In this example the n - is the loop variable
#and not required to have called it n
#for n in even:
#    body of the loop

for n in even:
    print((n))

0
2
4
6
8
10
12
14
16
18
20

In [23]:
#Print as a row
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

# While Loops and Incrementing

In [27]:
#When x is reassigned in a while loop it's called incrementing
x = 0
while x <= 20
    print (x, end=" ")
    x = x + 2
#The increment is 2

0 2 4 6 8 10 12 14 16 18 20

In [28]:
#When incrementing I can use the following synthax
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2
#The increment is 2

0 2 4 6 8 10 12 14 16 18 20

# Use the range() Function to create list

In [30]:
#Later in the course we will use the built in range func
#range(start, stop, step) creates a sequence of intergers
#start = the first number in the list(not necessary to define)
#stop = the last value +1 (Must be defined)
#step = the distance between each two consecutive values (not necessay to def)
#when the start and step value are not define
#the default value for start is 0 and step is 1
range(10)
# the output is range(0,10) and this is an range object

range(0, 10)

In [31]:
list(range(10))
# use the list(range(start,stop,step)) to display
# the sequence as a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
range(3,7)
list(range(3,7))

[3, 4, 5, 6]

In [35]:
range(1,20,2)

range(1, 20, 2)

In [36]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Combine conditional statements and loops

In [37]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [40]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [41]:
x = [0, 1, 2]

In [42]:
for item in x:
    print (item, end = " ")

0 1 2

In [43]:
for item in range(len(x)):
    print (x[item],end = " ")

0 1 2

# All in

In [1]:
# In this lesson I will learn how to count elements in a list
# complying to a condition
#Total is a rolling sum as it will change when the loop is initiated
#recall that numbers is simply an input and can be called anything


def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [2]:
list_x=[4,6,8,10,36,38,17]

In [3]:
count(list_x)

5

# Iterating over Dictionaries

In [6]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna" : 5,
    "hamburger" : 2
}
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna" : 10,
    "hamburger": 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
print (money_spent)

# this math problem connects knowledge of
# dictionaries, iterations, and rolling sum

74

# Object-Oriented Programming

In [ ]:
#Every item in Python are objects. 
#i.e. Floats, Strings, Intergers, Lists, ...
# You can also call these objects "Logical Objects"
# Objects contain data and operatios allowing for manipulation
# Object = Data + Manipulation Operation
# Class - defines the rule for creating that object
# Object - See definition above
# Attributes - refer to the state of the object (in the bike example color, size, type)
# Metod - consequential logic sequence that can be applied to 
# the object and it can be an operation like .turn_left(),.accelerate()
#recall that the focus is on the object and not the operation
# object and instance are interchangeable
# Attributes and Properties are interchangeable

In [ ]:
#Example
# Object(Instance): Class "List" [ 15.9, 12.4, 64.0]
# Attributes(Properties):Type of data? Floats
# Method: I can .extend, .index()

In [ ]:
#Difference between Function and Mehod
# A method is a special function
# A fuction can have many parameters
# A function exists on its own
# Function syntax funtion()

# In a Method the object is one of its parameters
# A Method belongs to a certain class
# Method syntax object.method()

# Importing Modules

In [7]:
import math

In [8]:
math.sqrt(16)

4.0

In [9]:
from math import sqrt

In [10]:
sqrt(81)

9.0

In [12]:
from math import sqrt as s

In [13]:
s(25)

5.0

In [14]:
import math as m

In [16]:
m.sqrt(36)

6.0

In [18]:
from math import *

In [19]:
sqrt(25)

5.0

In [20]:
# help(math) - gives you description of all the functions

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [21]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

# Must-Have Packages Fin Dsc

In [22]:
# Numpy - a third party package allowing us to work
# with multidimensional arrays
# Arrays represent a powerful way to organize
# and process data

In [ ]:
# Pandas - allows us to organize data in a tabular
# form and to attach descriptive labels to the rows
# and then columns of the table
# pandas is suitable for working with
# time series and huge databases


# Pandas - Panel Data

In [ ]:
# Matplotlib - a 2d plotting library
# specially designed for visualization 
# of NumPy computations

In [ ]:
# math - mathematical functions

In [ ]:
# random - invokes random number generators

In [ ]:
# statsmodels-descriptive statistics
# plotting functions, regressions

In [1]:
import pandas_datareader

# Working with Arrays

In [ ]:
# Arrays are similar to list
# Arrays represent objects and 
# the objects in an array are called 
# array elements

# the difference between arrays and list is
# arrays only have one type of elements in the array

In [2]:
import numpy as np

In [3]:
a =  np.array([[0, 1, 2, 3],[4, 5, 6,7]])
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [ ]:
# Numpy - n-dimensional array = ndarray
# An ndarray is always homogenous
# That is all of the blocks 
# are of same type and should be interpreted
# in the same way
# so, the need same type of objects and number of objects

# array() - returns a data structure in 
# the Numpy array format

In [4]:
a.shape

(2, 4)

In [5]:
a[1,3]

7

In [6]:
a[1,2] = 8

In [7]:
a[1,2]

8

In [8]:
a

array([[0, 1, 2, 3],
       [4, 5, 8, 7]])

In [9]:
a[0]

array([0, 1, 2, 3])

In [10]:
a[1]

array([4, 5, 8, 7])

In [11]:
# a vector is an object that has both a magnitude and direction

b = np.array ([3,5])
b

array([3, 5])

# Generating Random Variables

In [12]:
import random

In [13]:
# random.random() - generates a random float
# in the range [0;1)

In [17]:
prob = random.random()
print (prob)

0.13939531829143503

In [ ]:
# random.randint() - randomizes over a provided
# interval and deliver an interger value

In [21]:
number = random.randint(1,6)
print (number)

5

In [22]:
import numpy as np
np.random.randint(1,6,(4,6))

array([[3, 3, 4, 2, 1, 1],
       [1, 5, 2, 1, 4, 1],
       [2, 5, 4, 2, 4, 4],
       [5, 4, 5, 4, 5, 5]])

# Importing Data Part 1

In [ ]:
# pd.series() 

# Series - is a data type in pandas
# Series - a single column data;
# Series - a set of obligations for a single variable

In [24]:
import numpy as np
import pandas as pd

In [25]:
ser = pd.Series(np.random.random(5), name = 'column 01')

In [27]:
ser

0    0.632700
1    0.706872
2    0.972509
3    0.347708
4    0.967123
Name: column 01, dtype: float64

In [28]:
ser[2]

0.9725093522150035

In [ ]:
#Data Frame - pandas.DataFrame()
#Data Frame - is like the series data type but with several columns
#Web-wb

In [35]:
from pandas_datareader import data as wb

In [37]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [38]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,7.875524
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.812394
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.701911
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.717696
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.686131
...,...,...,...,...,...,...
2022-07-21,141.360001,138.949997,140.600006,140.770004,8310200.0,140.770004
2022-07-22,143.169998,140.669998,140.759995,143.020004,5292700.0,143.020004
2022-07-25,144.419998,142.529999,142.800003,143.990005,5262100.0,143.990005
2022-07-26,144.490005,141.710007,142.690002,144.270004,5374900.0,144.270004
2022-07-27,145.399994,143.529999,143.880005,145.244995,3013429.0,145.244995

In [39]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6941 entries, 1995-01-03 to 2022-07-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6941 non-null   float64
 1   Low        6941 non-null   float64
 2   Open       6941 non-null   float64
 3   Close      6941 non-null   float64
 4   Volume     6941 non-null   float64
 5   Adj Close  6941 non-null   float64
dtypes: float64(6)
memory usage: 379.6 KB

In [40]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875524
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812394
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701911
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717696
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686131

In [41]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-07-21,141.360001,138.949997,140.600006,140.770004,8310200.0,140.770004
2022-07-22,143.169998,140.669998,140.759995,143.020004,5292700.0,143.020004
2022-07-25,144.419998,142.529999,142.800003,143.990005,5262100.0,143.990005
2022-07-26,144.490005,141.710007,142.690002,144.270004,5374900.0,144.270004
2022-07-27,145.399994,143.529999,143.880005,145.244995,3013429.0,145.244995

In [42]:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875524
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812394
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701911
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717696
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686131
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   7.780825
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   7.765042
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   7.843956
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   7.936015
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   7.999504
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   8.031249
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   7.856655
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   7.824911
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   7.793169
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   7.872523
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   7.856655
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   7.967761
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   7.999504
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   8.221710
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   8.348688

In [43]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-06-29,142.860001,141.149994,141.600006,142.199997,5174600.0,141.282806
2022-06-30,144.440002,141.229996,141.690002,143.789993,7410100.0,142.862549
2022-07-01,146.250000,143.399994,144.240005,146.110001,5937200.0,145.167587
2022-07-05,146.100006,142.539993,144.580002,144.699997,5760900.0,143.766678
2022-07-06,147.490005,144.970001,145.509995,146.050003,5485200.0,145.107986
2022-07-07,146.190002,144.600006,145.289993,146.000000,6623400.0,145.058304
2022-07-08,146.809998,144.570007,145.990005,145.020004,4293700.0,144.084625
2022-07-11,146.580002,144.679993,145.149994,146.039993,5482900.0,145.098038
2022-07-12,146.919998,144.369995,145.860001,144.750000,5204400.0,143.816360
2022-07-13,146.960007,144.210007,144.410004,145.699997,5075600.0,144.760239
2022-07-14,145.529999,143.470001,143.759995,145.270004,4867000.0,144.333008
2022-07-15,145.699997,144.100006,145.339996,145.070007,6228400.0,144.134308
2022-07-18,145.089996,143.169998,144.940002,143.309998,6047500.0,142.385651
2022-07-19,145.009995,143.639999,144.570007,144.039993,5943600.0,143.110931
2022-07-20,144.220001,140.639999,144.000000,141.550003,8635300.0,140.637009
2022-07-21,141.360001,138.949997,140.600006,140.770004,8310200.0,140.770004
2022-07-22,143.169998,140.669998,140.759995,143.020004,5292700.0,143.020004
2022-07-25,144.419998,142.529999,142.800003,143.990005,5262100.0,143.990005
2022-07-26,144.490005,141.710007,142.690002,144.270004,5374900.0,144.270004
2022-07-27,145.399994,143.529999,143.880005,145.244995,3013429.0,145.244995

In [44]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '1995-1-1')['Adj Close']

In [45]:
new_data.tail()

                    PG        MSFT          T       F         GE
Date
2022-07-21  140.770004  264.839996  18.920000  13.000  68.129997
2022-07-22  143.020004  260.359985  18.400000  12.820  68.190002
2022-07-25  143.990005  258.829987  18.530001  12.840  68.360001
2022-07-26  144.270004  251.899994  18.299999  12.540  71.510002
2022-07-27  146.065002  268.894989  18.385000  13.138  71.440002

# Importing Data Part III

In [53]:
import quandl

In [54]:
mydata_01 = quandl.get("FRED/GDP")

In [55]:
mydata_01.tail()

                Value
Date
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

In [56]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [57]:
import pandas as pd

In [59]:
mydata_01.to_csv('C:/Users/jrccj/OneDrive/Documents/Python Scripts/example_01.csv')

In [63]:
mydata_02 = pd.read_csv('C:/Users/jrccj/OneDrive/Documents/Python Scripts/Python for Finance - Code Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_02.csv')

In [64]:
mydata_02.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
1,2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2,2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
3,2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
4,2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0

In [65]:
mydata_02.tail()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
1200,2012-05-24,32.95,33.21,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.21,31.77,33.0300,50237200.0
1201,2012-05-23,31.37,32.50,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.50,31.36,32.0000,73600000.0
1202,2012-05-22,32.61,33.59,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.59,30.94,31.0000,101786600.0
1203,2012-05-21,36.53,36.66,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.66,33.00,34.0300,168192700.0
1204,2012-05-18,42.05,45.00,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.00,38.00,38.2318,573576400.0

In [69]:
mydata_02 = pd.read_csv('C:/Users/jrccj/OneDrive/Documents/Python Scripts/Python for Finance - Code Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_02.csv', index_col = 'Date')

In [70]:
mydata_02

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-05-24,32.95,33.2100,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.2100,31.77,33.0300,50237200.0
2012-05-23,31.37,32.5000,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.5000,31.36,32.0000,73600000.0
2012-05-22,32.61,33.5900,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.5900,30.94,31.0000,101786600.0
2012-05-21,36.53,36.6600,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.6600,33.00,34.0300,168192700.0
2012-05-18,42.05,45.0000,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.0000,38.00,38.2318,573576400.0

In [66]:
mydata_02.to_excel('C:/Users/jrccj/OneDrive/Documents/Python Scripts/example_02.xlsx')

In [67]:
mydata_03 = pd.read_excel('C:/Users/jrccj/OneDrive/Documents/Python Scripts/Python for Finance - Code Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_03.xlsx')

In [68]:
mydata_03

    Year     Gas Exp     Pop        Gasp  Income
0   1953    7.400000  159565   16.667999    8883
1   1954    7.800000  162391   17.028999    8685
2   1955    8.600000  165275   17.209999    9137
3   1956    9.400000  168221   17.729000    9436
4   1957   10.200000  171274   18.497000    9534
5   1958   10.600000  174141   18.316000    9343
6   1959   11.300000  177130   18.576000    9738
7   1960   12.000000  180760   19.112000    9770
8   1961   12.000000  183742   18.924000    9843
9   1962   12.600000  186590   19.042999   10226
10  1963   13.000000  189300   18.997000   10398
11  1964   13.600000  191927   18.872999   11051
12  1965   14.800000  194347   19.587000   11430
13  1966   16.000000  196599   20.038000   11981
14  1967   17.100000  198752   20.700001   12418
15  1968   18.600000  200745   21.004999   12932
16  1969   20.500000  202736   21.695999   13060
17  1970   21.900000  205089   21.889999   13567
18  1971   23.200001  207692   22.049999   14008
19  1972   24.400000  209924   22.336000   14270
20  1973   28.100000  211939   24.473000   15309
21  1974   36.099998  213898   33.058998   15074
22  1975   39.700001  215981   35.278000   15555
23  1976   43.000000  218086   36.777000   15693
24  1977   46.900002  220289   38.907001   15991
25  1978   50.099998  222629   40.597000   16674
26  1979   66.199997  225106   54.405998   16843
27  1980   86.699997  227726   75.509003   16711
28  1981   97.900002  230008   84.017998   17046
29  1982   94.099998  232218   79.767998   17429
30  1983   93.099998  234333   77.160004   17659
31  1984   94.599998  236394   76.004997   18922
32  1985   97.199997  238506   76.619003   19622
33  1986   80.099998  240683   60.174999   19944
34  1987   85.400002  242843   62.487999   19802
35  1988   88.300003  245061   63.016998   20682
36  1989   98.599998  247387   68.836998   21048
37  1990  111.199997  250181   78.385002   21379
38  1991  108.500000  253530   77.337997   21129
39  1992  112.400002  256922   77.040001   21505
40  1993  114.099998  260282   76.257004   21515
41  1994  116.199997  263455   76.613998   21797
42  1995  120.199997  266588   77.825996   22100
43  1996  130.399994  269714   82.596001   22506
44  1997  134.399994  272958   82.579002   22944
45  1998  122.400002  276154   71.874001   24079
46  1999  137.899994  279328   78.207001   24464
47  2000  175.699997  282429  100.000000   25380
48  2001  171.600006  285366   96.289001   25449
49  2002  163.399994  288217   90.404999   26352
50  2003  191.300003  291073  105.153999   26437
51  2004  224.500000  293951  123.901001   27113

In [71]:
mydata_03.set_index('Year')

         Gas Exp     Pop        Gasp  Income
Year
1953    7.400000  159565   16.667999    8883
1954    7.800000  162391   17.028999    8685
1955    8.600000  165275   17.209999    9137
1956    9.400000  168221   17.729000    9436
1957   10.200000  171274   18.497000    9534
1958   10.600000  174141   18.316000    9343
1959   11.300000  177130   18.576000    9738
1960   12.000000  180760   19.112000    9770
1961   12.000000  183742   18.924000    9843
1962   12.600000  186590   19.042999   10226
1963   13.000000  189300   18.997000   10398
1964   13.600000  191927   18.872999   11051
1965   14.800000  194347   19.587000   11430
1966   16.000000  196599   20.038000   11981
1967   17.100000  198752   20.700001   12418
1968   18.600000  200745   21.004999   12932
1969   20.500000  202736   21.695999   13060
1970   21.900000  205089   21.889999   13567
1971   23.200001  207692   22.049999   14008
1972   24.400000  209924   22.336000   14270
1973   28.100000  211939   24.473000   15309
1974   36.099998  213898   33.058998   15074
1975   39.700001  215981   35.278000   15555
1976   43.000000  218086   36.777000   15693
1977   46.900002  220289   38.907001   15991
1978   50.099998  222629   40.597000   16674
1979   66.199997  225106   54.405998   16843
1980   86.699997  227726   75.509003   16711
1981   97.900002  230008   84.017998   17046
1982   94.099998  232218   79.767998   17429
1983   93.099998  234333   77.160004   17659
1984   94.599998  236394   76.004997   18922
1985   97.199997  238506   76.619003   19622
1986   80.099998  240683   60.174999   19944
1987   85.400002  242843   62.487999   19802
1988   88.300003  245061   63.016998   20682
1989   98.599998  247387   68.836998   21048
1990  111.199997  250181   78.385002   21379
1991  108.500000  253530   77.337997   21129
1992  112.400002  256922   77.040001   21505
1993  114.099998  260282   76.257004   21515
1994  116.199997  263455   76.613998   21797
1995  120.199997  266588   77.825996   22100
1996  130.399994  269714   82.596001   22506
1997  134.399994  272958   82.579002   22944
1998  122.400002  276154   71.874001   24079
1999  137.899994  279328   78.207001   24464
2000  175.699997  282429  100.000000   25380
2001  171.600006  285366   96.289001   25449
2002  163.399994  288217   90.404999   26352
2003  191.300003  291073  105.153999   26437
2004  224.500000  293951  123.901001   27113

In [74]:
mydata_03

         Gas Exp     Pop        Gasp  Income
Year
1953    7.400000  159565   16.667999    8883
1954    7.800000  162391   17.028999    8685
1955    8.600000  165275   17.209999    9137
1956    9.400000  168221   17.729000    9436
1957   10.200000  171274   18.497000    9534
1958   10.600000  174141   18.316000    9343
1959   11.300000  177130   18.576000    9738
1960   12.000000  180760   19.112000    9770
1961   12.000000  183742   18.924000    9843
1962   12.600000  186590   19.042999   10226
1963   13.000000  189300   18.997000   10398
1964   13.600000  191927   18.872999   11051
1965   14.800000  194347   19.587000   11430
1966   16.000000  196599   20.038000   11981
1967   17.100000  198752   20.700001   12418
1968   18.600000  200745   21.004999   12932
1969   20.500000  202736   21.695999   13060
1970   21.900000  205089   21.889999   13567
1971   23.200001  207692   22.049999   14008
1972   24.400000  209924   22.336000   14270
1973   28.100000  211939   24.473000   15309
1974   36.099998  213898   33.058998   15074
1975   39.700001  215981   35.278000   15555
1976   43.000000  218086   36.777000   15693
1977   46.900002  220289   38.907001   15991
1978   50.099998  222629   40.597000   16674
1979   66.199997  225106   54.405998   16843
1980   86.699997  227726   75.509003   16711
1981   97.900002  230008   84.017998   17046
1982   94.099998  232218   79.767998   17429
1983   93.099998  234333   77.160004   17659
1984   94.599998  236394   76.004997   18922
1985   97.199997  238506   76.619003   19622
1986   80.099998  240683   60.174999   19944
1987   85.400002  242843   62.487999   19802
1988   88.300003  245061   63.016998   20682
1989   98.599998  247387   68.836998   21048
1990  111.199997  250181   78.385002   21379
1991  108.500000  253530   77.337997   21129
1992  112.400002  256922   77.040001   21505
1993  114.099998  260282   76.257004   21515
1994  116.199997  263455   76.613998   21797
1995  120.199997  266588   77.825996   22100
1996  130.399994  269714   82.596001   22506
1997  134.399994  272958   82.579002   22944
1998  122.400002  276154   71.874001   24079
1999  137.899994  279328   78.207001   24464
2000  175.699997  282429  100.000000   25380
2001  171.600006  285366   96.289001   25449
2002  163.399994  288217   90.404999   26352
2003  191.300003  291073  105.153999   26437
2004  224.500000  293951  123.901001   27113